class Class:
    def int(self, lion, elephant):
        self.lion = lion
        self.elephant = elephant
    def __shirf(self):
        return self.lion + self.elephant
    def get_shirf(self):



s = Class(lion = 'sound lion', elephant = 'sound elephant')
print(s)
